@mixin font-face($font-family, $url) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.ttf");
    src: url("#{$url}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin media-breakpoint-bigger($min) {
  @media (min-width: $min) {
    @content;
  }
}

@mixin media-breakpoint-smaller($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin media-breakpoint-xxs() {
  @include media-breakpoint-smaller(340px) {
    @content;
  }
}

@mixin orientation($direction) {

  $orientation-landscape: "(orientation:landscape)";
  $orientation-portrait: "(orientation:portrait)";

  @if $direction == landscape {
    @media #{$orientation-landscape} { @content; }
  }
  @if $direction == portrait {
    @media #{$orientation-portrait} { @content; }
  }
}

@mixin animationDelay($delay) {
  -webkit-animation-delay: #{$delay}ms !important;
  -moz-animation-delay: #{$delay}ms !important;
  -o-animation-delay: #{$delay}ms !important;
  animation-delay: #{$delay}ms !important;
}

@mixin animationDuration($duration) {
  -webkit-animation-duration: #{$duration}ms !important;
  -moz-animation-duration: #{$duration}ms !important;
  -o-animation-duration: #{$duration}ms !important;
  animation-duration: #{$duration}ms !important;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin backgroundSize($bgSize) {
  -webkit-background-size: $bgSize;
  -moz-background-size: $bgSize;
  -o-background-size: $bgSize;
  background-size: $bgSize;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($str) {
  -webkit-transition: -webkit-#{$str};
  -moz-transition: -moz-#{$str};
  -o-transition: -o-#{$str};
  transition: #{$str};
}

@mixin transitionDuration($str) {
  -webkit-transition-duration: #{$str};
  -moz-transition-duration: #{$str};
  -o-transition-duration: #{$str};
  transition-duration: #{$str};
}

@mixin rotation() {
  @include keyframes(rotate) {
    100% {
      @include transform(rotate(180deg));
    }
  }
}

@mixin rotateIconAnimation() {
  @include keyframes(rotate) {
    0% {
      @include rotate(0);
    }
    25% {
      @include rotate(90);
    }
    100% {
      @include rotate(0);
    }
  }
}
