/* BOOTSTRAP 4 */
@import "~bootstrap/scss/bootstrap.scss";

/* MIXINS */
@import "mixins";
@import "variables";

/* COMPONENTS/PAGES */
@import "../../components/home/home";
@import "../../partials/packageCard/packageCard";
@import "../../partials/loader/loader";
@import "../../partials/dropdown/Dropdown";
@import "../../partials/features/features";

/* FONTS */
@include font-face("Calibri", $fonts + "Calibri-Regular");
@include font-face("Calibri-Bold", $fonts + "Calibri-Bold");
@include font-face("Calibri-Bold-Italic", $fonts + "Calibri-Bold-Italic");
@include font-face("Calibri-Italic", $fonts + "Calibri-Italic");

html,
body {
  height: 100%;
}
#root {
  height: 100%;
  touch-action: manipulation;
}
body {
  margin: 0;
  font-family: "Calibri", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
  height: 100%;
  @include media-breakpoint-only(xs) {
    padding: 0;
  }
}

/* HELPER CLASSES */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently  supported by Chrome, Opera and Firefox */
}
.hidden {
  display: none !important;
}
