.dropdownWrap {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.dropdown {
  background-color: $cream;
  padding: 15px;
  border: 0px none;
  border-radius: 10px;
  width: 200px;
  &:active,
  &:focus {
    outline: none;
  }
  option {
    background-color: $cream;
    &:hover {
      background-color: $purple;
    }
  }
}
