.packageCardRow {
  align-items: flex-end;
}
.packageCardWrap {
  .packageCardInner {
    background-color: $cream;
    border-radius: 15px;
    padding: 0 20px;
    margin-bottom: 50px;
  }
  .featured {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 20px;
    p {
      text-align: center;
      margin: 0;
      padding: 0;
      color: $purple;
    }
  }
  h1 {
    font-family: "Calibri-Bold-Italic", sans-serif;
    color: $purple;
    font-weight: 600;
    font-style: italic;
    border-bottom: 1px solid #d3d3d3;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
  }
  .tvIncludes,
  .netIncludes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 0;
    border-bottom: 1px solid #d3d3d3;
    .img-wrap {
      width: 65px;
      padding: 0 10px;
      @include media-breakpoint-down(md) {
        width: 85px;
      }
    }
  }
  .netIncludes {
    flex-wrap: wrap;
    .featuresWrap {
      width: calc(100% - 65px);
      @include media-breakpoint-down(md) {
        width: calc(100% - 85px);
      }
    }
    .promotions {
      width: 100%;
      padding: 15px 0;
      background: #fff;
      margin-top: 50px;
      position: relative;
      display: flex;
      .promotionsInner {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 80px;
          position: absolute;
        }
        p {
          width: 100%;
          margin: 0;
          text-align: left;
          padding-left: 100px;
          color: $purple;
          font-family: "Calibri-Bold-Italic", "Calibri";
        }
      }
    }
  }
  .priceWrap {
    padding: 25px 0 20px;
    width: 100%;
    .priceInner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 15px;
      h3 {
        font-family: "Calibri-Bold-Italic", "Calibri";
        color: $purple;
        font-size: 2rem;
        margin: 0;
      }
      h4 {
        font-family: "Calibri-Bold-Italic", "Calibri";
        color: $purple;
        text-decoration: line-through;
        margin: 0;
      }
    }
    button {
      display: block;
      width: 100%;
      background: $purple;
      color: #fff;
      border: 0px none;
      border-radius: 10px;
      padding: 10px 0;
      margin-top: 25px;
      font-family: "Calibri-Bold", "Calibri";
      font-size: 1.1rem;
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}
